.add_wonder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.add_wonder input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tabs__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    cursor: pointer;
}

.hidden-tab-content {
    display: none;
}