:root {
    --bg-color : #CFCCC5;
    --font-color: #131312;
    --primary-color: #830000;

    --font-size-text: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: var(--bg-color);
}

img {
    filter: grayscale(100%); /* Делает изображение полностью черно-белым */
}

/*header */
.header-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header-logo {
}

.header-logo a {
    font: 600 1.5rem Roboto;
    text-decoration: none;
    color: #131312;
}

.header-logo a:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    width: 60%;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    gap: 30px;
    text-decoration: none;
    font-family: Roboto;
    list-decoration: none;
    text-decoration: none;

    justify-self: center;
}

.nav__container__item {
    list-style: none;
}

.nav__container__item a {
    color: var(--font-color);
}

.nav__container__item a:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.nav__sing-in {
    display: flex;
    justify-content: end;
    justify-self: end;
}

.nav__sing-in a {
    font-family: Roboto;
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-text);
}

/*body*/
.hero {
    max-width: 1440px;
    width: 100%;
    margin: 40px auto;
}

.hero__h1 {
    color: var(--primary-color);
    font: 600 4.5rem Almendra, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.container__item {
    font-size: 16px;
    text-decoration: none;
    font-family: Roboto;
}

.container__item__img {
    width: 400px;
    height: 250px;
}

.container__item {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    list-style-type: none;
}

.container__item-link {
    text-decoration: none;
    font-size: var(--font-size-text);
}

.pagination {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer
}

.wonders__info_summary {
    font: 400 1.5rem Roboto;
    width: 940px;
    text-align: center;
    margin: 20px auto;
}

.wonders__info_year {
    font: 700 1.5rem Roboto;
    width: 940px;
    text-align: center;
    margin: 20px auto;
}

.wonders__info_links {
    font: 700 1.5rem Roboto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.wonders__info_link {
    text-decoration: none;
    color: var(--font-color);
    font-size: var(--font-size-text);
}

.wonders__info_link:hover {
    color: var(--primary-color);
    transition: 0.3s;
}


/*slider*/

.slider__wrapper {
    display: flex;
    justify-content: center;
}

.slider {
    overflow: hidden;
    max-width: 1040px;
    width: 80%;
    height: 1200px;
    position: relative;
}

.slider__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider__slide.active {
    opacity: 1;
}

.button_slider {
    position: absolute;
    z-index: 5;
    width: 40px;
    height: 40px;
    padding: 5px 3px;
    font-size: 20px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.slider__prev {
    left: 10px;
}

.slider__next {
    right: 10px;
}

